@font-face {
    font-family: "poppins-light";
    src: url("../font/Poppins-Light.woff2") format("woff2"), url("../font/Poppins-Light.woff") format("woff");
}
@font-face {
    font-family: "poppins-medium";
    src: url("../font/Poppins-Medium.woff2") format("woff2"), url("../font/Poppins-Medium.woff") format("woff");
}
@font-face {
    font-family: "poppins-regular";
    src: url("../font/Poppins-Regular.woff2") format("woff2"), url("../font/Poppins-Regular.woff") format("woff");
}
@font-face {
    font-family: "poppins-semi-bold";
    src: url("../font/Poppins-SemiBold.woff2") format("woff2"), url("../font/Poppins-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "poppins-bold";
    src: url("../font/Poppins-Bold.woff2") format("woff2"), url("../font/Poppins-Bold.woff") format("woff");
}


body {
    background-color: #F2F2F2 !important;
    font-family: "poppins-regular";
}
nav {
    background-color: unset !important;
    margin-bottom: 25px;
}
.theme-content {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}
.theme-side-menu {
    min-width: 300px;
    max-height: 100%;
    border-radius: 2px;
    background: var(--black, #000);
}
.theme-learning {
    width: 100%;
    padding: 25px;
}
.content-logo {
    width: 100px;
    height: auto;
    margin: 30px auto;
    display: flex;
    max-height: 130px;
}
.content-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.theme-side-menu ul{
    list-style: none;
    color: #BFBFBF;
    padding-left: 5px;
}
.theme-side-menu ul li{
    padding: 12px 15px;
    margin-bottom: 11px;
}
.theme-side-menu ul li a{
    color: #BFBFBF !important;
    text-decoration: none !important;
}
.theme-side-menu ul li .fa {
    font-size: 24px;
    margin-right: 14px;
}
.theme-side-menu ul .active {
    background: #F2F2F2;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 18px 15px;
    margin-bottom: 17px;
}
.theme-side-menu ul .active .fa{
    color: #F0B746;
}
.theme-side-menu ul .active a{
    color: #000000 !important;
}
.content-profil{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.content-profil .block-photo{
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
}
.content-profil .block-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-item .title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    font-family: "poppins-medium";
    margin-bottom: 1px;
}
.nav-item .sub-title{
    font-size: 14px;
    font-style: normal;
    font-family: "poppins-semi-bold";
    margin-bottom: 0;
    color: #f0b746;
}
.name-profil {
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-family: "poppins-semi-bold";
    margin-bottom: 4px;
    margin-top: 6px;
}
.role-profil {
    color: #8F8F8F;
    font-size: 15px;
    margin-bottom: 0;
}
.head-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}
.head-card .card-home{
    width: 24%;
    border-radius: 20px;
    padding: 16px 15px;
    margin-right: 10px;
}
#card1 {
    background: #4E36E2;
}
#card2 {
    background: #000000;
}
#card3 {
    background: #9B70FF;
}
#card4 {
    background: #8BC740;
}
.card-home .title-card{
    color: #FFF;
    font-size: 14px;
    font-family: "poppins-semi-bold";
    text-align: right;
    margin-bottom: 8px;
}
.card-home:last-child{
    margin-right: 0px;
}
.card-home .element-card .block-img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid #DCD7E8;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.element-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-card .card-home .element-card .block-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.head-card .card-home .element-card .number {
    color: #FFF;
    text-align: right;
    font-size: 24px;
    margin-bottom: 0;
    font-family: "poppins-semi-bold";
}
.head-card .card-home .element-card .number span{
    color: #FFF;
    text-align: right;
    font-size: 14px;
    margin-bottom: 0;
    font-family: "poppins-semi-bold";
}
.container-circular-element .box h2 {
    display: block;
    text-align: center;
    color: #fff;
}
.container-circular-element .box .chart {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 72px;
    height: 83px;
    color: #232323;
    font-weight: bolder;
}
.container-circular-element .box canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.card-stat1, .card-stat-line {
    border-radius: 20px;
    background: var(--white, #FFF);
    padding: 25px 15px;
}
.card-stat-line .head-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -4px;
}
.card-stat-line .head-card p{
    color: #000;
    font-size: 18px;
    margin-bottom: 0;
    font-family: "poppins-medium";
}
.card-stat1 .card-img-profil{
    width: 75px;
    height: 75px;
    margin: 0 auto 15px;
    border-radius: 100%;
    overflow: hidden;
}
.card-stat1 .card-img-profil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-circular-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.container-circular-element .box {
    width: 30%;
}
.container-circular-element h3 {
    color: rgba(0, 0, 0, 0.74);
    text-align: center;
    font-size: 14px !important;
    line-height: normal;
    font-family: "poppins-bold";
}
.name-profil-stat{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: "poppins-medium";
    margin-bottom: 3px;
}
.poste-profil-stat{
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-size: 16px;
    font-family: "poppins-light";
    margin-bottom: 25px;
}
.footer-card {
    border-top: 2px solid #EBEBEB;
    margin: -8px -15px 0;
    padding: 18px 15px 0;
}
.solde-text {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: "poppins-medium";
    margin-bottom: 4px;
}
.solde-number {
    color: #000;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
}
.card-stat-line .form-select {
    min-width: 14%;
    width: fit-content;
}
.card-stat1{
    padding: 45px 15px;
}
.d-flex{
    display: flex;
}
.content-table{
    width: 100%;
    background: #FFFFFF;
    margin-top: 80px;
    padding: 18px 0 0;
    border-radius: 17px;
}
.table tr:first-child {
    border-top: 0px;
}
.table tr {
    border-top: 1.7px solid #dee2e699;
}
.table td{
    padding: 22px 10px !important;
    border: none;
}
.table th, .table td {
    vertical-align: baseline;
}
.statut-attente{
    color: var(--primary, #F0B746);
    font-size: 12px;
    text-align: center;
    border: 1px solid #F0B746;
    padding: 7px 6px;
    border-radius: 20px;
    font-family: "poppins-medium";
    margin-bottom: 0;
    margin-right: 20px;
}
.statut-accepte{
    color: #71CA00;
    font-size: 12px;
    text-align: center;
    border: 1px solid #71CA00;
    padding: 7px 6px;
    border-radius: 20px;
    font-family: "poppins-medium";
    margin-bottom: 0;
    margin-right: 20px;
}
.btn-Accepter{
    border-radius: 60px !important;
    background-color: #F0B746 !important;
    font-size: 16px !important;
    color: white !important;
    padding: 7px 20px !important;
    margin-right: 15px;
}
.btn-Details{
    border-radius: 60px !important;
    background-color: #000000 !important;
    font-size: 16px !important;
    color: white !important;
    padding: 7px 20px !important;
}
.content-log {
    height: 100vh;
    overflow: hidden;
}
.content-log .img-coach{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.element-log {
    padding-top: 40px;
}
.content-logo-log {
    width: 110px;
    height: 70px;
    margin: 0 auto 30px;
}
.content-logo-log img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.element-log h2{
    color: #000;
    font-size: 26px;
    font-family: "poppins-semi-bold";
    text-align: center;
    margin-bottom: 33px;
}
.btn-google {
    width: 100%;
    border-radius: 10px !important;
    border: 1px solid #d7d7d7 !important;
    padding: 10px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-family: "poppins-semi-bold";
    margin-bottom: 40px;
}
.btn-google img{
    margin-right: 10px;
}
.element-log .form-label {
    font-size: 17px;
    font-family: "poppins-medium";
}
.element-log input, .element-log select{
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    background-color: unset !important;
    padding: 12px 12px;
    justify-content: space-between;
}
.btn-valider-log{
    border-radius: 5px !important;
    background-color: #F0B746 !important;
    color: #000 !important;
    font-size: 16px !important;
    font-family: "poppins-semi-bold";
    padding: 12px 20px !important;
    margin: 25px 0px 36px 30px;
}
.btn-quitter{
    border-radius: 5px !important;
    background-color: #FF0606 !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-family: "poppins-semi-bold";
    padding: 12px 20px !important;
    margin: 25px 0px 36px 30px;
}
.text-compte {
    font-family: "poppins-light";
    font-size: 15px;
}
.text-compte a{
    color: #FBBC06;
    font-family: "poppins-medium";
}
.content-hr{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 35px;
}
.content-hr hr{
    width: 50%;
}
.content-hr p{
    color: #000;
    font-size: 22px;
    font-family: "poppins-medium";
    padding: 0px 15px;
}
.element-log h3 {
    color: #000;
    font-size: 21px;
    font-family: "poppins-semi-bold";
    margin-bottom: 30px;
    margin-left: 30px;
}
input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}
.group-input-log {
    margin: 0 30px 20px !important;
}
.content-insciption .show{
    display: block;
}
.content-insciption {
    min-height: 100vh;
    overflow: hidden;
    height: fit-content;
}
.block-coach-img{
    height: 100vh;
    position: fixed;
    left: 0;
    width: 50%;
}
.block-coach-img .img-coach {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.group-input-log textarea{
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    background-color: unset !important;
    padding: 12px 12px;
    width: 100%;
}
.checkbox input, .radio input{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-bottom: 18px;
    margin-top: 7px;
}
.checkbox span, .radio span{
    position: relative;
    top: -2px;
    font-size: 16px;
}

.upload-files-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drag-file-area {
    text-align: center;
}
.drag-file-area .upload-icon {
    font-size: 50px;
}
.drag-file-area h4 {
    font-size: 20px;
    margin: 15px 0;
    font-family: "poppins-semi-bold";
}
.drag-file-area label {
    font-size: 19px;
    position: relative;
    display: flex;
    justify-content: center;
}
.drag-file-area .browse-files {
    margin-top: 6px;
    margin-left: 10px;
}
.drag-file-area label .browse-files-text {
    color: #F0B746;
    font-weight: bolder;
    cursor: pointer;
}
.browse-files span {
    position: relative;
    top: -25px;
}
.default-file-input {
    display: none;
}
.cannot-upload-message {
    background-color: #ffc6c4;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px 10px 5px 30px;
    border-radius: 5px;
    color: #BB0000;
    display: none;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
    padding-right: 10px;
}
.cannot-upload-message span:last-child {
    padding-left: 20px;
    cursor: pointer;
}
.file-block {
    color: #000000;
    transition: all 1s;
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 19px 20px;
    cursor: pointer;
    flex-wrap: wrap;
    height: fit-content;
    width: 45%;
    border-radius: 14px;
    border: 1px solid #F0B746;
    margin-left: 30px;
}
.file-info {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.file-icon {
    margin-right: 10px;
}
.file-name, .file-size {
    padding: 0 3px;
}
.remove-file-icon {
    cursor: pointer;
}
.progress-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.5%;
    width: 0;
    height: 5px;
    border-radius: 25px;
    background-color: #4BB543;
}
.upload-button {
    background-color: #F0B746;
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 7.5px 50px;
    cursor: pointer;
}
.content-detail-opportinute {
    padding-left: 20px;
}
.content-detail-opportinute .block-detail{
    width: 88%;
}
.block-detail .head-detail-block .first-block .nom-client{
    color: #FBBC06;
    font-size: 22px;
    font-family: "poppins-semi-bold";
    margin-bottom: 10px;
}
.content-attribution .nom-client{
    color: #FBBC06;
    font-size: 16px;
    font-family: "poppins-semi-bold";
    margin-bottom: 10px;
}
.block-detail .head-detail-block .first-block .number-client, .content-attribution .number-clien{
    color: #000;
    font-size: 15px;
    font-family: "poppins-semi-bold";
    margin-right: 15px;
    margin-bottom: 10px;
}
.content-img-file {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.content-img-file img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.block-detail .head-detail-block .first-block .budget{
    color: #FBBC06;
    font-size: 20px;
    font-family: "poppins-semi-bold";
    margin-bottom: 25px;
}
.block-detail .head-detail-block .first-block .budget, .content-attribution .budget{
    color: #FBBC06;
    font-size: 18px;
    font-family: "poppins-semi-bold";
    margin-bottom: 25px;
}
.tags {
    background: #FED5A8;
    color: #000;
    font-size: 14px;
    font-family: "poppins-medium";
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 5px;
}
.head-detail-block .text-deadline{
    height: fit-content;
    border-radius: 5px;
    background: #D23D3D;
    color: #FFF;
    font-size: 19px;
    font-family: "poppins-semi-bold";
    padding: 18px 25px;
    margin-right: 33px;
    margin-bottom: 33px;
}
.head-detail-block {
    align-items: center;
}
.block-description{
    margin-top: 34px;
}
.block-description .title-description{
    color: #000;
    font-size: 22px;
    font-family: "poppins-semi-bold";
}
.block-description .text-description{
    color: #000;
    font-size: 16px;
    margin-bottom: 5px;
}
.block-description .content-button{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 45px;
}
.block-description .content-button a, .block-description .content-button button{
    width: 45%;
    color: #000;
    font-size: 18px;
    font-family: "poppins-semi-bold";
    margin-right: 35px;
    margin-bottom: 33px;
    padding: 12px 20px;
}
#tdrMission{
    background: #9B70FF;
}
#contre{
    background: #000;
    color: #FFFFFF !important;
}
.btn-orange{
    background: #F0B746;
    background-color: #F0B746 !important;
    color: white !important;
}
.btn-danger{
    background-color: #FF0606 !important;
    background: #FF0606;
}
.img-check {
    width: 140px;
    height: 165px;
    margin: -15px auto 0;
    display: block;
}
.title-modal-check {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: "poppins-semi-bold";
}
.description-modal-check {
    color: #000;
    font-size: 16px;
    font-family: "poppins-medium";
    text-align: center;
}
.modal-footer-custom {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 45px;
}
.modal-footer-custom .btn{
    font-family: "poppins-semi-bold";
    padding: 12px 15px;
    border-radius: 10px;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}
.btn-dark{
    background: black !important;
}
#modalRefus .btn {
    margin: 0 15px;
}
#modalRefus .modal-body{
    padding: 0 30px;
}
#modalRefus .img-check {
    width: 85px;
    height: 150px;
    margin: 2px auto 0;
}
#modalRefus .title-modal-check {
    margin-bottom: 40px;
}
#modalRefus .group-input-log {
    margin: -3px 30px 45px !important;
}
.step2-refus,.block-alert-sucess{
    display: none;
}
.head-table p{
    color: #000;
    font-size: 21px;
    font-family: "poppins-semi-bold";
    margin-bottom: 0;
}
.head-table .btn{
    background: #BFBFBF;
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    font-family: "poppins-medium";
}
.content-table-2 {
    width: 100%;
    background: #FFFFFF;
    margin-top: 30px;
    padding: 18px 0 0;
    border-radius: 17px;
}
.dropdown-toggle::after {
    display: none !important;
}
.img-options{
    width: 5px;
}
.content-table-2 .dropdown {
    width: 100%;
    text-align: center;
    padding-right: 11px;
}
.body-home .block-one {
    padding-top: 20px;
    margin-bottom: 70px;
}
.bg-orange{
    background: #F0B746 !important;
}
.btn-envoie img{
    height: 19px;
    margin-right: 4px;
}
.btn-options {
    width: 41px;
    height: 37px;
    padding: 0px 2px !important;
    margin-right: 7px;
}
.btn-options img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-form {
    width: 60px;
    height: auto;
    margin: 11px auto 25px;
    display: block;
}
.group-card{
    display: flex;
    flex-wrap: wrap;
}
.home-admin .head-card .card-home {
    width: 31%;
    border-radius: 20px;
    padding: 16px 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}
.bg-dark{
    background: #000000;
}
.bg-mauve{
    background: #9B70FF;
}
.bg-red{
    background: red;
}
.bg-vert{
    background: #8BC740;
}
.bg-bleu{
    background: #3D6AD6;
}
.group-input-date{
    position: relative;
    width: 100%;
    border: 1px solid black;
    background: white;
    border-radius: 13px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.group-input-date input{
    width: 94%;
    border: none;
    background: none;
    cursor: pointer;
}
.group-input-date i{
    color: #F0B746;
}
.label-calendar{
    color: black;
    font-family: "poppins-medium";
    font-size: 19px;
    margin-bottom: 16px;
}
.attente{
    color: #F0B746;
    font-family: "poppins-medium";
}
.valide{
    color: #10B981;
    font-family: "poppins-medium";
}
.refuse{
    color: #FF0606;
    font-family: "poppins-medium";
}
.content-table .dropdown li {
    padding: 6px 5px;
}
.select_time_wrapper label {
    background-color:#0b1b35;
    width: 200px;
    margin-right:7px;
    color:#fff;
}

.select_time_wrapper label span {
    font-size: 14px;
    font-weight: 600;
}

.select_time_wrapper label input {
    position:absolute;
    top:-20px;
}

.select_time_wrapper  input:checked + span {
    background-color:#88B646;
    color:#F7F7F7;
}
.label_p{
    font-weight:400;
}
.custom-control-label::after{
    border-radius: 50%!important;
    width: 24px;
    height: 24px;
    top: 0px;
    color: transparent;
}
.form_bot_wrapper .custom-control-label::before{
    background-color: #ebebeb;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    top: 0;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #ebebeb;
}


.custom-input-radio .select_time_wrapper label {
    background-color: unset;
    margin-right: 15px;
    color: #000 !important;
    border: 1px solid #F0B746;
    width: fit-content;
    border-radius: 10px !important;
    overflow: hidden;
    cursor: pointer;
}

.custom-input-radio .select_time_wrapper label span {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
}

.custom-input-radio .select_time_wrapper label input {
    position:absolute;
    top:-20px;
}

.custom-input-radio .select_time_wrapper  input:checked + span {
    background-color: #F0B746;
    color:#000000;
    font-family: "poppins-medium";
}
.custom-input-radio .label_p{
    font-weight:400;
}
.custom-input-radio .custom-control-label::after{
    border-radius: 50%!important;
    width: 24px;
    height: 24px;
    top: 0px;
    color: transparent;
}
.custom-input-radio .form_bot_wrapper .custom-control-label::before{
    background-color: #ebebeb;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    top: 0;
}
.custom-input-radio .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #ebebeb;
}
.content-new-opportinute h2{
    color: black;
    font-family: "poppins-medium";
    font-size: 23px;
    margin-bottom: 30px;
}
.content-new-opportinute .group-input {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.content-new-opportinute .group-input .form-group {
    width: 31%;
    margin-right: 20px;
    margin-bottom: 25px;
}
.content-experience-certification .group-input .form-group {
    width: 53%;
    margin-right: 20px;
    margin-bottom: 25px;
}
.content-experience-certification .group-input .group40{
    width: 35%;
    margin-right: 50px;
}
.content-experience-certification .w-100{
    width: 100%;
    margin-right: 50px;
}
.content-new-opportinute .group-input .form-group input{
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 15px;
    padding: 12px 13px;
    color: #000;
    border-radius: 0 !important;
}
.form-control:focus {
    border-radius: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    box-shadow: none !important;
    border-color: black !important;
}
.opportinute-label, .content-new-opportinute .group-input-log{
    color: black;
    font-family: "poppins-medium";
}
.custom-input-radio {
    margin-bottom: 36px;
}
.content-new-opportinute .group-input-log {
    margin: 0 0px 36px !important;
    width: 100%;
}
.upload-contrat{

}
.content-new-opportinute .upload-files-container {
    width: 100%;
    display: -webkit-box;
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    background-color: unset !important;
    padding: 12px 12px;
}
.content-new-opportinute .upload-files-container .first-content{
    width: 38%;
    padding: 8px 15px;
    border: 2px dashed #C2C2C2;
    background: #F5F5F5 !important;
    border-radius: 15px !important;
}
.content-new-opportinute .drag-file-area h4 {
    font-size: 16px;
    margin: 15px 0 20px;
    font-family: "poppins-semi-bold";
}
.content-new-opportinute .drag-file-area label {
    font-size: 16px;
    flex-wrap: wrap;
}
.content-new-opportinute .drag-file-area .upload-icon {
    font-size: 50px;
    color: #F0B746;
}
.content-new-opportinute .form-label{
    color: black;
    font-family: "poppins-medium";
    margin-bottom: 14px;
}
.material-icons {
    font-size: 18px !important;
    color: #dc3545 !important;
    font-family: "poppins-medium" !important;
    width: 100%;
    margin-top: 17px;
}
.upload-button{
    display: none;
}

.Uploader-mission input {
    display: none;
}
.Uploader-mission .files-wr {
    display: flex;
}
.Uploader-mission .files-wr label {
    display: inline-block;
    color: #000000;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 16px;
    margin: -10px 0 20px;
    font-family: "poppins-semi-bold";
    text-align: center;
}

.Uploader-mission .files-wr .one-file ~ .one-file label {
    display: none;
}
.Uploader-mission .files-wr .one-file.error {
    color: #000000;
    transition: all 1s;
    position: relative;
    padding: 19px 20px;
    cursor: pointer;
    height: fit-content;
    width: 45%;
    border-radius: 14px;
    border: 1px solid #F0B746;
    margin-left: 30px;
}
.Uploader-mission .files-wr .one-file.error .file-name {
    color: #000000;
}
.Uploader-mission .files-wr .file-item {
    position: relative;
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
}
.Uploader-mission .files-wr .file-item.hide-btn {
    display: none;
}
.Uploader-mission .files-wr .file-name {
    font-size: 16px;
}
.Uploader-mission .files-wr .btn-del-file {
    cursor: pointer;
    transition: all 0.2s;
    font-size: 18px !important;
    color: #dc3545 !important;
    font-family: "poppins-medium" !important;
    width: 100%;
    margin-top: 17px;
    text-align: left;
}
.Uploader-mission .files-wr .btn-del-file:hover, .Uploader-mission .files-wr .btn-del-file:focus {
    background-color: #ca4a17;
}
.Uploader-mission .one-file {
    width: 38%;
    padding: 8px 15px;
    border: 2px dashed #C2C2C2;
    background: #F5F5F5 !important;
    border-radius: 15px !important;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.Uploader-mission .upload-icon {
    font-size: 50px;
    color: #F0B746;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.error .upload-icon{
    display: none;
}
.btn-submit{
    border-radius: 60px !important;
    min-width: 130px;
    margin-right: 20px;
    color: #FFFDFD !important;
    font-family: "poppins-medium";
    padding: 12px !important;
}
.btn-Cancel{
    border-radius: 60px !important;
    background-color: #F4F4F4 !important;
    min-width: 100px;
    font-family: "poppins-medium";
    padding: 12px !important;
}
.group-form-btn{
    margin: 60px 0 40px;
}
.content-new-opportinute {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.04);
    padding: 40px 30px;
}
.block-detail-opportinute, .block-card-list {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.04);
    padding: 25px 30px;
    margin-bottom: 62px;
}
.title-attribution-opportinute {
    font-family: "poppins-medium";
    font-size: 18px;
}
.title-liste-coach{
    font-size: 20px;
    color: #000000;
    font-family: "poppins-medium";
    margin-bottom: 20px;
}
.block-input-search{
    position: relative;
    display: flex;
    align-items: center;
}
.block-input-search img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 8px;
    z-index: 9;
    top: 11px;
}
.block-input-search input{
    position: relative;
    border: 1px solid #E2E8F0;
    background: #FFF;
    padding: 10px 10px 10px 40px;
    min-width: 440px;
    margin-right: 35px;
    border-radius: 8px;
}
.btn-Rechercher{
    background-color: #F0B746 !important;
    padding: 10px 28px !important;
    font-family: "poppins-medium";
}
.list-card {
    display: flex;
    margin-top: 45px;
}
.list-card .card-coach{
    border-radius: 14px;
    border: 1px solid #F0B746;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    width: 24%;
    margin-right: 20px;
    padding: 30px 18px 15px;
}
.list-card .card-coach .img {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
}
.list-card .card-coach .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.note-element {
    border-radius: 52px;
    background: #FF9417;
    width: fit-content;
    padding: 4px 10px;
    margin: -11px auto 20px;
    justify-content: space-between;
    min-width: 60px;
    color: white;
    position: relative;
    z-index: 99;
    align-items: center;
}
.note-element img{
    height: 12px;
}
.note-element p {
    margin-bottom: 0;
    font-size: 15px;
}
.name-coach{
    color: #202020;
    text-align: center;
    font-family: "poppins-medium";
}
.map-text {
    color: #A5A5A5;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 3px;
}
.list-card .card-coach .description-card {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.label-group{
    justify-content: space-between;
    margin-top: -8px;
}
.label-group .name-label{
    margin-bottom: 0;
    font-size: 14px;
}
.label-group .cssProgress-label{
    margin-bottom: 0;
    font-size: 14px;
    font-family: "poppins-medium";
}
.cssProgress .cssProgress-bar {
    background: #F0B746 !important;
    height: 6px !important;
}
.progress-bar-block {
    margin-bottom: 23px;
}
.progress-bar-block:last-child {
    margin-bottom: 0px;
}
.btn-valider{
    color: #FFFFFF !important;
    font-family: "poppins-medium";
    font-size: 14px !important;
    padding: 7px 25px !important;
    border-radius: 21px !important;
    overflow: hidden;
    margin: 27px auto 7px;
    display: flex !important;
    justify-content: center;
}
.empty-text{
    text-align: center;
    margin-top: 40px;
    font-family: "poppins-medium";
    margin-bottom: 29px;
}
.block-empty-element .btn-envoie {
    margin: 0 auto;
    width: fit-content;
    display: block;
    padding: 11px 20px;
}
.block-empty-element {
    padding-bottom: 50px;
}
.modal-dialog {
    max-width: 600px !important;
}
#calendrier-excution .modal-footer-custom {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 45px;
    margin-top: 36px;
    margin-bottom: -22px;
}
.services-propose-block .form-check-input {
    width: 20px;
    height: 20px;
}
.services-propose-block .label {
    color: black;
    font-family: "poppins-medium";
    margin-bottom: 0;
    margin-top: 3px;
    margin-left: 5px;
}
.services-propose-block .form-check {
    margin-bottom: 15px;
}
.precision-input{
    margin-top: 35px;
}
.paddign-element {
    padding-left: 50px;
}
.content-new-opportinute .tarifications-block .group-input .form-group:first-child {
    width: 52%;
    margin-right: 40px;
}
.content-new-opportinute .tarifications-block .group-input .form-group {
    width: 44%;
    margin-right: 0;
}
.tarifications-block {
    margin-bottom: 40px;
}
.reference-recommendation label{
    margin-bottom: 15px;
}
.reference-recommendation .form-group{
    display: grid;
    width: 35% !important;
}
#modalCongrat .modal-footer-custom {
    display: flex;
    justify-content: center;
    padding: 0 30px 45px;
}
#ajoutClient .modal-footer-custom {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 45px;
    margin-top: 50px;
}
.btn-new-message{
    font-size: 15px !important;
    font-style: normal;
    font-family: "poppins-semi-bold";
    text-align: center !important;
    width: 95%;
    background-color: #F0B746 !important;
    color: white !important;
    padding: 14px !important;
    border-radius: 50px !important;
    margin: 22px 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}
.btn-send-message {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    width: fit-content;
    background-color: #F0B746 !important;
    margin-top: 40px;
    display: block !important;
    margin-left: auto;
    padding: 11px 30px !important;
    color: white !important;
    font-family: "poppins-semi-bold";
    border-radius: 8px !important;
    margin-bottom: 35px;
}
.navbar-expand .navbar-nav .dropdown-menu {
    right: 0 !important;
}
.select2-container {
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
    background-color: unset !important;
    border: 1px solid #aaa;
    padding: 6px 5px 4px 5px !important;
}
.modife-input-custom .upload-files-container {
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    background-color: unset !important;
    padding: 12px 12px;
}
.modife-input-custom .drag-file-area label {
    flex-wrap: wrap;
}
.modife-input-custom .first-span {
    width: 100%;
}
.modife-input-custom .browse-files {
    margin-top: 35px !important;
    margin-left: 0;
}
.modife-input-custom .file-block {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 33px;
}
.uploadOk .browse-files {
    margin-top: 0px !important;
    margin-left: 7px;
}
.modife-input-custom .drag-file-area{
    width: 100%;
}
.uploadOk .upload-files-container {
    flex-wrap: wrap;
}
.uploadOk .file-block {
    width: 93%;
    margin-left: 22px;
}
.content-evaluation-coach .subTitle{
    color: #000;
    font-size: 19px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
.content-evaluation-coach h3{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}
.content-evaluation-coach .description-evaluation{
    color: #000;
    font-size: 16px;
    font-style: normal;
}
.content-evaluation-coach select{
    width: 20%;
}
.content-evaluation-coach .group-input-log {
    margin: 0 0px 45px !important;
}
.content-evaluation-coach label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}


